<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu<button mat-button (click)="openShare();" class="share-button">SHARE</button></mat-toolbar>
    <mat-nav-list>
      <button mat-button (click)="viewTop();" class="menu-button">TOP</button>
      <button mat-button (click)="viewAbout();" class="menu-button">ABOUT</button>
      <app-booktree></app-booktree>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" id="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>
    <div><app-page></app-page></div>
  </mat-sidenav-content>
</mat-sidenav-container>
