* {
  margin:0;
  padding:0;
}
:host {
  position:absolute;
  top:0;
  right:0%;
  height:100%;
  width:100%;
  background-color:#efefef;
}
.viewing {
  display:block;
  position:relative;
}
#viewingImg {
  visibility:hidden;
}
#viewingVideo {
  visibility:hidden;
}
#viewingObject {
  visibility:hidden;
}
#dataspace {
  display:block;
  position:absolute;
  overflow:hidden;
  height:100%;
  width:100%;
}
